/* ----------------------------------------------
 * ANIMATIONS FROM https://github.com/Maronato/vue-toastification/blob/master/src/scss/animations
 * ---------------------------------------------- */
:root {
  --bzn-trans-cubic-bezier: cubic-bezier(0.215, 0.61, 0.455, 1);
  --bzn-trans-duration: 0.4s;
  --bzn-color-success: #155724;
  --bzn-background-color-success: #d4edda;
  --bzn-color-danger: #721c24;
  --bzn-background-color-danger: #f8d7da;
  --bzn-border-color-danger: #f5c6cb;
  --bzn-color-warning: #856404;
  --bzn-background-color-warning: #fff3cd;
  --bzn-border-color-warning: #ffeeba;
}
@keyframes fadeOutTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes fadeOutBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: var(--bzn-trans-cubic-bezier);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: var(--bzn-trans-cubic-bezier);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes slideInBlurredTop {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(240px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slideOutBlurredTop {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(240px);
    opacity: 0;
  }
}
@keyframes slideInBlurredBottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(240px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slideOutBlurredBottom {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(240px);
    opacity: 0;
  }
}
/* ----------------------------------------------
* GENERAL
 * ---------------------------------------------- */
#notify {
  position: relative;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  width: 10vw;
}
#notify [data-notify] {
  position: fixed;
}
#notify [data-notify='top left'] {
  top: 10px;
  left: 10px;
}
#notify [data-notify='top center'] {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#notify [data-notify='top right'] {
  top: 10px;
  right: 10px;
}
#notify [data-notify='bottom left'] {
  bottom: 10px;
  left: 10px;
}
#notify [data-notify='bottom center'] {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#notify [data-notify='bottom right'] {
  bottom: 10px;
  right: 10px;
}
#notify [data-notify~='top'] .fade-active {
  animation: fadeInTop var(--bzn-trans-duration);
}
#notify [data-notify~='bottom'] .fade-active {
  animation: fadeInBottom var(--bzn-trans-duration);
}
#notify [data-notify~='top'] .fade-leave {
  animation: fadeOutTop var(--bzn-trans-duration);
}
#notify [data-notify~='bottom'] .fade-leave {
  animation: fadeOutBottom var(--bzn-trans-duration);
}
#notify [data-notify~='top'] .bounce-active {
  animation: bounceInDown var(--bzn-trans-duration);
}
#notify [data-notify~='bottom'] .bounce-active {
  animation: bounceInUp var(--bzn-trans-duration);
}
#notify [data-notify~='top'] .bounce-leave {
  animation: bounceOutUp var(--bzn-trans-duration);
}
#notify [data-notify~='bottom'] .bounce-leave {
  animation: bounceOutDown var(--bzn-trans-duration);
}
#notify [data-notify~='top'] .slide-blurred-active {
  animation: slideInBlurredTop var(--bzn-trans-duration);
}
#notify [data-notify~='bottom'] .slide-blurred-active {
  animation: slideInBlurredBottom var(--bzn-trans-duration);
}
#notify [data-notify~='top'] .slide-blurred-leave {
  animation: slideOutBlurredTop var(--bzn-trans-duration);
}
#notify [data-notify~='bottom'] .slide-blurred-leave {
  animation: slideOutBlurredBottom var(--bzn-trans-duration);
}
#notify .notify {
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: opacity var(--bzn-trans-duration);
  user-select: none;
  cursor: pointer;
}
#notify .notify__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #0b2e13;
}
#notify .notify__icon {
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
}
#notify .notify--success {
  color: var(--bzn-color-success);
  background-color: var(--bzn-background-color-success);
  border-color: var(--bzn-color-border-success);
}
#notify .notify--danger {
  color: var(--bzn-color-danger);
  background-color: var(--bzn-background-color-danger);
  border-color: var(--bzn-border-color-danger);
}
#notify .notify--warning {
  color: var(--bzn-color-warning);
  background-color: var(--bzn-background-color-warning);
  border-color: var(--bzn-border-color-warning);
}
